<!DOCTYPE html>
<html>
 

    {{>header}}
<body>
<!-- syntax to include header file using handlebars -->
<div class="main-content">

    {{>nav}}
<h1> {{errorMsg}} </h1>
</div>


{{>footer}}
</body>
</html>
