<!DOCTYPE html>
<html>
  {{>header}}
<body>
<div class="main-content">

  {{>nav}}
<p>this website is used to check weather</p>
<img class="portrait" src="./img/robot.png"/>
</div>

{{>footer}}
</body>
</html>
